.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil--title {
    color: #000;
}

.perfil--subtitle {
    color: #000;
}

.perfil--photo--info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
    width: 270px;
}

.perfil--photo {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000;
}

.perfil--info--invert {
    top: 5%;
    right: unset;
    left: 5%;
    z-index: 10;
}

.perfil--info {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    font-weight: 600;

    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
    border: none;
    text-align: center;
    padding: 0;
}

.perfil--info img {
    height: 100%;
    width: 100%;
    transform: rotateX(180deg);
}

.perfil--info:hover {
    cursor: pointer;
}

.perfil--card {
    position: relative;
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    border: 3px solid #000;
    border-radius: 50%;
}
.photo--overflow {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.perfil--card--photo {
    transform: scaleX(-1) scale(1.05);

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
}

.perfil--flip--container {
    height: 270px;
    width: 270px;
}
