@media (max-width: 1024px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: unset;
        bottom: 0;
        top: unset;
        left: unset;
        right: unset;
        height: auto;
        width: 100%;
        background-color: unset;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .sidebar--option {
        background-color: #fff;
        border-radius: 50%;
        height: 100%;
        width: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: transform 0.5s;
    }

    .sidebar--link {
        height: 60px;
        width: 60px;
        text-decoration: none;
    }

    .sidebaricon svg {
        height: 40px;
        width: auto;
        align-items: center;
    }

    .sidebar--option--title {
        display: none;
    }

    .sidebar--logo {
        display: none;
    }

    .sidebar--option:active {
        transform: none;
        background-color: #0183ff;
    }

    .sidebar--option:active .sidebaricon g {
        fill: #fff;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        top: unset;
        left: unset;
        right: unset;
        height: auto;
        width: 100%;
        background-color: unset;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .sidebar--option {
        background-color: #fff;
        border-radius: 50%;
        height: 100%;
        width: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: transform 0.5s;
    }

    .sidebar--link {
        height: 50px;
        width: 50px;
        text-decoration: none;
    }

    .sidebaricon svg {
        height: 30px;
        width: auto;
        align-items: center;
    }

    .sidebar--option--title {
        display: none;
    }

    .sidebar--logo {
        display: none;
    }

    .sidebar--option:active {
        transform: none;
        background-color: #0183ff;
    }

    .sidebar--option:active .sidebaricon g {
        fill: #fff;
    }
}

@media (max-width: 426px) {
    .sidebar {
        gap: 20px;
    }
}

@media (max-width: 375px) {
    .sidebar {
        gap: 25px;
    }
}

@media (max-width: 320px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        top: unset;
        left: unset;
        right: unset;
        height: auto;
        width: 100%;
        background-color: unset;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .sidebar--option {
        background-color: #fff;
        border-radius: 50%;
        height: 100%;
        width: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: transform 0.5s;
    }

    .sidebar--link {
        height: 40px;
        width: 40px;
        text-decoration: none;
    }

    .sidebaricon svg {
        height: 20px;
        width: auto;
        align-items: center;
    }

    .sidebar--option--title {
        display: none;
    }

    .sidebar--logo {
        display: none;
    }

    .sidebar--option:active {
        transform: none;
        background-color: #0183ff;
    }

    .sidebar--option:active .sidebaricon g {
        fill: #fff;
    }
}
