.xp--list {
    align-items: center;
    justify-content: space-evenly;
}

.xp--card {
    float: left;
    display: flex;
    flex-direction: column;
}

.xp--icon {
    height: 200px;
    width: 200px;
}
