* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Coves";
}

.container {
    padding-left: 200px;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: rgb(227, 245, 252);
    -webkit-tap-highlight-color: transparent;
}

section {
    width: 100%;
    height: 500px;
    padding: 20px;
}

ul {
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: "Coves";
    src: url(./assets/fonts/coves.otf);
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

@media (max-width: 320px) {
    .container {
        padding: 0px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0px;
    }
}
